/*body {
    background-image: url(image.png);
    background-size: cover;
    background-repeat: no-repeat;
}*/
body {
    background-color: rgb(250, 245, 245);
}

.animate__animated {
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pagination {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

h2 {
    text-align: center;
}
.navbar-expand-lg  {

    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;

}

.navbar-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.bienvenue {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 5%;
    height: 10%;
}

.categories {
    display: flex;
    margin: 1em;
}

.titre {
    display: flex;
    justify-content: space-around;
}

.bienvenue {
    display: flex;
    justify-content: left;
    margin-top: 0%;
    color: white;
    border-radius: 50%;

}

.annonce {
    border-style: solid;
    margin: 1%;
    padding: 4%;
    box-shadow: 10px 5px 5px black;
    background-color: #17a2b8;
    color: white;
}

form {
    display: flex;
    justify-content: center;
}

.form_container {
    width: 80%;
    margin: auto;
}