body {
    background-image: url(image.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.animate__animated {
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

h2 {
    text-align: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 2%;
    list-style-type: none;
}

form {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
}