body {
    background-image: url(image.png);
    background-size: cover;
    background-repeat: no-repeat;
}
header {
    display: flex;
    justify-content: center;

}
h1 {
    border-style: ridge;
}
p {
    color: darkred;
}
button {
    color: forestgreen;
}
.del {
    color: red;
}