body {
    background-image: url(image.png);
    background-size: cover;
    background-repeat: no-repeat;
}
header {
    display: flex;
    justify-content: center;

}
.annonce {
    border-style: inset;
    box-shadow: 6px 6px 0px black;
    margin: 1%;
    padding: 2%;
}
.green {
    color: green;
}
.red {
    color: red;
}
.animate__animated.animate__backInLeft {
    --animate-duration: 3s;
  }