{% extends 'base.html.twig' %}
{% block title %}
	Ecrire une annonce
{% endblock %}
{% block body %}
	{% form_theme addForm 'bootstrap_4_layout.html.twig' %}
    <div class="form_container">
        {{form(addForm)}}
    </div>
	{{ form(addForm) }}{% endblock %}

