{% extends 'base.html.twig' %}

{% block title %}
	Ecrire une annonce
{% endblock %}

{% block body %}
	<div class="titre">
		<h1>
			Ecrivez une annonce
		</h1>
	</div>
	{{ form(addForm) }}{% endblock %}

