{% extends 'base.html.twig' %}

{% block title %}
	Modifiez votre annonce
{% endblock %}

{% block body %}
	<header>
		<h1>
			Modifiez votre annonce
		</h1>
	</header>
	{{ form(editForm) }}{% endblock %}
