{% extends 'base.html.twig' %}

{% block title %}
	Modifiez votre annonce
{% endblock %}

{% block body %}
		{% form_theme editForm 'bootstrap_4_layout.html.twig' %}
    <div class="form_container">
        {{form(editForm)}}
    </div>
{% endblock %}
