{% extends 'base.html.twig' %}

{% block title %}
	Modifiez votre compte
{% endblock %}

{% block body %}
	<header>
		<h1>
			Modifiez votre mot de passe
		</h1>
	</header>
	{{ form(editForm) }}{% endblock %}